<link href="css/stylesheets/schedule.css" rel="stylesheet">
<div class='body'>
	<div ng-if='login' data-ng-init='init()' >

		<h1 class='page-label'><label id='name'>[[username]]&nbsp;</label> Lunch Order Summary</h1>
		<div class='big-block'>
			<div id='input'>
				<form name='monthForm' class='recent pull-left' id='form'>
					<div class='block' id='month-block'><label class='date-label'>Month:</label>
						<input type='number' id='month' min='1' max='12' name='month' ng-model='date.month' required>
						<br/><span ng-show="(monthForm.month.$error.required && monthForm.month.$touched)">This field is required.</span>
						<span ng-show="(monthForm.month.$invalid && monthForm.month.$touched && !monthForm.month.$error.required)">Wrong format.</span></div>
					<div class='block' id='year-block'><label class='date-label'>&nbsp;&nbsp;&nbsp;Year:</label>
						<input type='number' id='year' name='year' min='2016' ng-model='date.year' required>
						<br/><span ng-show="(monthForm.year.$error.required && monthForm.year.$touched)">This field is required.</span>
						<span ng-show="(monthForm.year.$invalid && monthForm.year.$touched && !monthForm.year.$error.required)">Wrong format.</span>
					</div>
					<button class='btn-primary btn' ng-click='monthForm.$valid && check()'>Check</button>
				</form>
				<div id='btn' class='pull-right'>
					<button class='btn-primary btn' ng-click='getCurrent()'>Current</button>
				</div>
			</div>
		</div>

		<div ng-show='show' class='big-block tabl' id='table'>
			<table class='table table-striped table-bordered'>
				<thead>
					<tr>
						<th colspan='7' id='date'><a href='#lunch/month/[[sum.year]]/[[sum.month]]/'>[[sum.year]]-[[sum.month]]</a></th>
						<!-- ui-sref='lunch_month_particular({year: [[sum.year]], month: [[sum.month})' -->
					</tr>
					<tr>
						<th>Sun</th>
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='week in arr track by $index'>
						<td ng-repeat='day in week track by $index'>
							<a ui-sref='lunch_day_particular({date: "[[sum.year]]-[[sum.month]]-[[day]]"})'><p>[[day]]</p></a><p ng-if='orderDays.indexOf(day)>-1'><img class='check' src='img/check.png'/></p>
							<p ng-if='!(orderDays.indexOf(day)>-1)'><img class='check' src='img/blank.png'/></p>
						</td>
					</tr>
				</tbody>
			</table>
			<label class='label-name'>Total Number of Meals:</label><label class='value'>[[sum.numMeal]]</label></br>
			<label class='label-name'>Price:</label> <label class='value'>[[sum.totalPrice]] VND</label>
		</div>
		<div class='msg' id='msg' ng-show='!show'>
			<p>[[msg]]</p>
		</div>
	</div>
<!-- 	<div class='col-sm-3'>
		<div>
			<a ui-sref='user_lunch_register'><p>Lunch Register</p></a>
			<a ui-sref='user_lunch_summary'><p>Personal Lunch Summary</p></a>
		</div>
		<div ng-show='working'>
			<a ui-sref='user_working_register'><p>Working Register</p></a>
			<a ui-sref='user_personal_schedule'><p>Personal Working Schedule</p></a>
		</div>
		<div>
			<a ui-sref='user_settings'><p>Account Settings</p></a>
		</div>
	</div> -->
	<div class='msg' ng-if='!login'>You must login to view this! </div>
</div>
