form {
	margin: auto;
	width: 50%;
}

.input-label {
	display: inline-block;
	width: 84px;
}

.text-input {
	width: 100%;
}

.btn-primary {
	margin-bottom: 10%;
	margin-top: 8%;
	width: 100%;
}

input[type=checkbox] {
	display: inline-block;
	margin-right: 3px;
}

.my-btn {
	margin: 0;
	height: 32px;
	min-width: 100px;
	width: 100%;
}

.col-sm-6 {
	display: inline-block;
	vertical-align: top;
	padding: 1%;
	margin-top: 10%;
	margin-bottom: 6%;
	text-align: center;
}

.check {
	display: inline-block !important;
	margin-right: 4%;
	margin-top: 3%;
}

.text {
	margin-bottom: 15px;
}

#active {
	margin: auto;
	margin-top: 25%;
	width: 80%;
}

#ad {
	margin-right: 30%;
}