#main {
	width: 50%;
	margin: auto;
}

.info-label {
	font-weight: 400;
}

.info {
	font-size: 17px;
}

.block {
	display: block;
	margin-bottom: 1%;
}

.head {
	margin: 5%;
	margin-top: 15%;
	font-weight: 500;
	font-size: 23px;
}

.input-label {
	width: 130px;
}

.input, .btn-primary {
	width: 100%;
}

.btn-primary {
	margin-top: 3%;
	margin-bottom: 6%;
}